  <footer class="sixthpart">

            <div class="footer1">

                <div id="firstcol">

                    <img src="/home static/commonphoto/logo1.webp" alt="">
                    <div class="content2">
                        <h1>Altie Relity</h1>
                        <h5>The VR पाठशाला</h5>
                    </div>
                </div>

                <div id="contactusfooter">
                    <ul>
                        <h2>Contact Us</h2>
                        <li><a href="#">Address</a></li>
                        <li><a href="#">Email:info.altiereality@gmail.com</a></li>
                        <li><a href="#">Mobile:+91 9145822691
                            </a></li>
                        <li><a href="#">Whatsapp:+91 8619953434

                            </a></li>
                    </ul>
                </div>

                <div id="about">
                    <ul>
                        <h2>About Us</h2>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Team</a></li>

                    </ul>
                </div>
                <div id="legal">
                    <h2>Legal</h2>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Services</a></li>
                    <li><a href="#">Contact Us</a></li>

                </div>
            </div>


            <div id="followus">
                <ul>
                    <h2>Follow Us</h2>
                    <li>
                        <div class="social" style="background-color:rgb(208,68,139)"><a href="#"><i
                                    class="fa fa-instagram " style="color:rgb(255, 255, 255); font-size: 18px;"></i></a>
                        </div>
                        <div class="social" style="background-color: rgb(29,161,242);"><a href="#"><i
                                    class="fa fa-twitter " style="color:rgb(255, 255, 255); font-size: 18px;"></i></a>
                        </div>
                        <div class="social" style="background-color: rgb(255,0,0);"><a href="#"><i
                                    class="fa fa-youtube-play "
                                    style="color:rgb(255, 255, 255); font-size: 18px;"></i></a> </div>
                    </li>
                    <li><a href="#"><b>Email:</b>info.altierealtiy@gmail.com</a></li>
                    <li><a href="#">facebook</a></li>
                </ul>
            </div>
        </footer>

        <!-- Add chatbot files -->
        <link rel="stylesheet" href="/css/chatbot.css?v=2">
        <script src="/js/chatbot.js"></script>