<html>

<head>  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1QVJFF7NCD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1QVJFF7NCD');
</script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Lexrn : Learning redefined with XR </title>
<script>function vqTrackId(){return '170fd7d8-4f9c-4f30-92f7-90bf570e7a3f';} (function(d, e) { var el = d.createElement(e); el.sa = function(an, av){this.setAttribute(an, av); return this;}; el.sa('id', 'vq_tracking').sa('src', '//t.visitorqueue.com/p/tracking.min.js?id='+vqTrackId()).sa('async', 1).sa('data-id', vqTrackId()); d.getElementsByTagName(e)[0].parentNode.appendChild(el); })(document, 'script'); </script>  
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=8863381981e4dc5e9ef3cb13d57e9e17" />
  <link rel="stylesheet" href="/assets/css/styleagain.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,400i,600,700" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/assets/css/styles.min.css?h=bf8d9a53a9cbb240505e7c85aa2189c8" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
</head>

<body class="text-end" style="color: rgb(255, 255, 255); background: rgb(0, 0, 0)">
  <!-- Start: Header-1 -->
  <nav class="
        navbar navbar-dark navbar-expand-md
        fixed-top
        navigation-clean-search
      " style="height: 60px; color: rgb(255, 2, 221); background: #000000">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: #21a9af" href="#"><img class="img-fluid float-start logo1"
          style="width: 130px; height: 100px" src="/assets/img/logo.png.png?h=0b6029570f2621a53f6f47079d479eb2" /></a><a
        class="
            btn
            active
            d-block
            float-end
            d-sm-none d-md-inline
            bounce
            animated
            action-button
          " role="button" id="demo" style="
            width: 120px;
            font-size: 14px;
            margin-right: 15px;
            border: 1px solid #01a982;
            color: #ff00f2;
            font-family: 'Source Sans Pro', sans-serif;
          " href="/demo">DEMO</a>
      <div class="
            collapse
            navbar-collapse
            d-inline
            float-start
            d-inline-flex
            flex-row
            justify-content-end
            align-items-end
          " id="navcol-1">
        <ul class="navbar-nav">
          <li class="nav-item"></li>
        </ul>
        <span class="navbar-text"> </span><a class="btn btn-light d-none d-sm-none d-md-inline action-button"
          role="button" id="signinform" style="
              width: 120px;
              font-size: 14px;
              background-color: #ff00f2;
              border: 1px solid #ff00f2;
              font-family: 'Source Sans Pro', sans-serif;
              font-weight: 400;
            " href="/login " data-bs-target="/login">LOG IN</a>
        <ul class="navbar-nav"></ul>
      </div>
    </div>
  </nav>
  <!-- End: Header-1 -->
  <header class="text-center text-white masthead" style="background: #ffffff">
    <img class="img-fluid float-none float-sm-none float-md-start float-lg-start" data-bss-hover-animate="pulse"
      src="/assets/img/Copy%20of%20Copy%20of%20pathshalaXR%20Logo%20(11).gif?h=aab6bb9e58744faced850600c9f85695"
      style="text-align: left; height: 300px" /><img class="img-fluid"
      src="/assets/img/ezgif.com-gif-maker%20(2).gif?h=87353a36400dbb68dfbab9a0b312fe21"
      style="text-align: left; height: 400px; width: 500px" /><img
      class="img-fluid float-none float-sm-none float-md-end float-lg-end" data-bss-hover-animate="pulse"
      src="/assets/img/Copy%20of%20Copy%20of%20Copy%20of%20Copy%20of%20Copy%20of%20Orange%20and%20Blue%203D%20Elements%20Technology%20in%20Business%20and%20at%20Work%20Presentation.gif?h=61b991bd62096f4e608437eb8c53c64b"
      style="text-align: left; height: 300px" />
    <div class="masthead-content">
      <div class="container">
        <h2 class="text-center text-warning masthead-subheading mb-0" data-aos="fade" style="text-align: left"></h2>
        <a class="btn btn-primary btn-xl rounded-pill mt-5" role="button" id="contactusform" href="https://play.google.com/store/apps/details?id=com.altiereality.lexrn"
          data-bs-target="/login"> Download App</a>
      </div>
    </div>
  </header>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div data-aos="fade-up" class="p-5">
            <img class="rounded-circle img-fluid"
              src="/assets/img/VR%20LEARNING%20(2).gif?h=de0ec5d91453da7e0bf4f46c3d5e1900" />
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5" style="
                color: rgb(2, 15, 28);
                font-size: 23px;
                font-family: Catamaran, sans-serif;
              ">
            <h2 class="display-4 text-start" style="color: rgb(31, 114, 198)">
              FOR SCHOOLS.
            </h2>
            <p class="lead text-start" style="
                  color: rgb(255, 255, 255);
                  font-size: 23px;
                  font-family: Catamaran, sans-serif;
                ">
              <br />Lexrn has been innovatively designed for serving
              needs of students in schools . Bring Jurassic Era, Jupiter, Taj
              Mahal right into classroom with our unique solution aimed at
              providing field trips from comfort of classroom&nbsp; . Get
              started with 9 minutes of XR learning today.&nbsp;<br /><br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <img class="rounded-circle img-fluid" data-aos="fade-up"
              src="/assets/img/Copy%20of%20Orange%20and%20Blue%203D%20Elements%20Technology%20in%20Business%20and%20at%20Work%20Presentation.gif?h=fbc9a2994c5704d13cf1166127ac082e" />
          </div>
        </div>
        <div class="col-lg-6 order-lg-2">
          <div class="p-5" style="
                color: rgb(2, 15, 28);
                font-size: 23px;
                font-family: Catamaran, sans-serif;
              ">
            <h2 class="display-4 text-start" style="color: rgb(31, 114, 198)">
              FOR TUTORS.
            </h2>
            <p class="lead text-start" style="
                  font-family: Catamaran, sans-serif;
                  font-size: 23px;
                  color: rgb(255, 255, 255);
                ">
              <br />Lexrn is  a great solution for individual tutors to get
              started with XR. Give your student a bit more than just
              academics. Lexrn has curated lesson covering topics of
              History , Geography , Science , Math . Get started today.<br /><br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="rounded-circle img-fluid" data-aos="fade-up"
              src="/assets/img/babe.gif.gif?h=fc58c64fca6aa47def29c48329b58849" />
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5" style="
                color: rgb(2, 15, 28);
                font-size: 23px;
                font-family: Catamaran, sans-serif;
              ">
            <h2 class="display-4 text-start" style="color: rgb(31, 114, 198)">
              FOR STUDENTS.
            </h2>
            <p class="lead text-start" style="
                  color: rgb(255, 255, 255);
                  font-size: 23px;
                  font-family: Catamaran, sans-serif;
                ">
              <br />Lexrn has been designed to serve the needs of
              individual learners. The students can get started with help of
              their parents. The parents launch the lessons and the kids are
              made to learn from the comfort of Home. Make your kid 21st
              Century compatible with XR assisted learning.<br /><br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="d-inline py-5 bg-black" style="background: rgb(0, 0, 0)">
    <!-- Start: Animated Filterable Gallery -->
    <section id="portfolio" class="py-5" style="background: #000000">
      <!-- Start: Intro -->
      <div class="intro">
        <h2 class="text-center">Lexrn</h2>
        <p class="text-center">Just 9 minutes a day.</p>
      </div>
      <!-- End: Intro -->
      <!-- Start: Cards container -->
      <div class="container">
        <!-- Start: filter controls -->
        <div class="filtr-controls text-center lead text-uppercase mb-4">
          <span class="active d-inline-block mx-3 position-relative" data-filter="all">xr</span><span
            class="d-inline-block mx-3 position-relative" data-filter="1">vr&nbsp;</span><span
            class="d-inline-block mx-3 position-relative" data-filter="3">ar</span>
        </div>
        <!-- End: filter controls -->
        <!-- Start: Cards -->
        <div class="row filtr-container">
          <!-- Start: Card column -->
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 filtr-item" data-category="1,2">
            <img
              src="/assets/img/Copy%20of%20Copy%20of%20pathshalaXR%20Logo%20(14).gif?h=a6b97fdca4a2f149f79fc3ea8052941b" />
          </div>
          <!-- End: Card column -->
          <!-- Start: Card column -->
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 filtr-item" data-category="1,2,3">
            <img
              src="/assets/img/Copy%20of%20Copy%20of%20pathshalaXR%20Logo%20(16).gif?h=59af08b4308ae30910b406a8e118568e" />
          </div>
          <!-- End: Card column -->
        </div>
        <!-- End: Cards -->
      </div>
      <!-- End: Cards container -->
    </section>
    <!-- End: Animated Filterable Gallery -->
    <!-- Start: Zig Zag Timeline v3 -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="text-center">That's how we do it.</h2>
          <p>
            Immersive, Value Added Content, accessible from the comfort of
            Home. Lexrn has been innovatively designed to provide
            immersive content from all around the world. From Taj Mahal to
            Great Wall of China, From Jurassic Era to Mars why travel when the
            world can travel to you. Get started with 9 minutes of XR learning
            today.
          </p>
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="/assets/img/1.png" />
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Step One</h4>
                  <h4 class="subheading">
                    Teacher/Tutor/Parent choose lesson
                  </h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    Teachers can select content from collection of more than
                    300 XR specially curated lesson to teach concepts .
                    Science, Math, History , Geography ....say it, we have got
                    it covered.
                  </p>
                </div>
              </div>
              <div class="line"></div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="/assets/img/2.png" />
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Step Two</h4>
                  <h4 class="subheading">Teacher send Code</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    Every XR lesson has a unique code, which teachers share
                    with students. This feature is gist of Lexrn. With
                    synchronized content across all devices, the teacher can
                    assist and guide student through the XR tour.
                  </p>
                </div>
              </div>
              <div class="line"></div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="/assets/img/3.png" />
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Step Three</h4>
                  <h4 class="subheading">Student Explore</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    When the XR lesson begin, the teacher/parent can allow
                    student to explore the scene on their own. The immersive
                    content gives the feel of actually being there, be it New
                    York, Mars or inside a Nuclear Power Plant (Yep, we are
                    not kidding).
                  </p>
                </div>
              </div>
              <div class="line"></div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="/assets/img/4.png" />
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Step Four</h4>
                  <h4 class="subheading">Check Learning</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    After the XR lesson end, the students are made to check
                    their learning by taking a customized test. Teacher/Parent
                    too can create custom quiz to test student's learning.
                  </p>
                </div>
              </div>
              <div class="line"></div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="/assets/img/5.png" />
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Bonus Step</h4>
                  <h4 class="subheading">Bonus</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    Some XR lesson have been specially curated to enhance the
                    child's natural learning with no testing. The students can
                    be made to experience those lessons as reward for their
                    performance.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End: Zig Zag Timeline v3 -->
    <div class="container">
      <!-- Start: Pretty Footer -->
      <footer class="footergrey">
        <div class="row">
          <div class="col-sm-6 col-md-4 footer-navigation">
            <h3 style="font-family: Catamaran, sans-serif">
              &nbsp;Lexrn
            </h3>
            <p class="company-name" style="font-size: 16px">
              Altie Reality Private Limited © 2021
            </p>
          </div>
          <div class="col-sm-6 col-md-4 footer-contacts">
            <div style="font-size: 21px">
              <span class="fa fa-map-marker footer-contacts-icon"> </span>
              <p style="font-size: 18px">
                <span class="new-line-span" style="font-size: 18px">Altie House, JK Circle
                  Kankroli</span>Rajasthan,3133324
              </p>
            </div>
            <div>
              <i class="fa fa-phone footer-contacts-icon"></i>
              <p class="footer-center-info email text-start">
                +91 9145822691
              </p>
            </div>
            <div class="d-none" style="font-size: 18px">
              <i class="fa fa-envelope footer-contacts-icon"></i>
              <p>
                <a href="#" target="_blank">info.altiereality@gmail.com</a>
              </p>
            </div>
          </div>
          <div class="col-md-4 footer-about">
            <h4 style="font-size: 22px">About the company</h4>
            <p style="color: rgb(255, 255, 255); font-size: 17px">
              Altie Reality is an&nbsp; edtech startup focused in AR/VR . We
              plan to be the next big thing in school based learning.
            </p>
            <div class="social-links social-icons">
              <a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i
                  class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a>
            </div>
          </div>
        </div>

        <a href="https://www.digitalocean.com/?refcode=180726a2e785&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img src="https://web-platforms.sfo2.digitaloceanspaces.com/WWW/Badge%203.svg" alt="DigitalOcean Referral Badge" /></a>
      </footer>
      <!-- End: Pretty Footer -->
      <p class="text-center text-white m-0 small"></p>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
  <script src="/assets/js/script.min.js?h=71e25c3cb7bf7b85cd6fff53628f225b"></script>
</body>

</html>
