<html lang="en">
  <head>  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1QVJFF7NCD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1QVJFF7NCD');
</script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-134442353-2"
    >
    </script>
    <script>
      window.dataLayer = window.dataLayer || []; function
      gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config',
      'UA-134442353-2');
    </script>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Altie Reality : A Metaverse Comapany</title>
    <meta content="" name="description" />

    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>

    
  </head>

  <body>
    <!-- ======= Header ======= -->
   <header id="header" class="header fixed-top">
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <a href="https://www.altiereality.com" class="logo d-flex align-items-center">
          <img src="assets/img/logo.png" alt="" />
          <span>Altie Reality</span>
        </a>

        <nav id="navbar" class="navbar">
          <ul>
            
            <li><a href="https://www.altiereality.com/XRtouch">XRtouch </a></li>
            <li><a class="active" href="https://www.altiereality.com/blog">Timeline</a></li>
            <li class="dropdown"><a href="#"><span>Industries We Serve</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
               <li><a href="https://learnxr.altiereality.com">Education -  LearnXR™ </a></li><li><a href="https://metamatch.altiereality.com">MetaMatch </a></li>
                <li><a href="https://play.google.com/store/apps/details?id=com.altiereality.reliconnect">Religion - ReliconnectVR™</a></li>
                <li><a href="https://www.altiereality.com/medical">Medical</a></li>
                
   <li><a href="https://www.altiereality.com/architecture">Real Estate</a></li>
                <li><a href="https://www.altiereality.com/defence">Defence</a></li>
                <li><a href="https://www.altiereality.com/gaming">Gaming</a></li>
              </ul>  
            <li><a class="nav-ling scrollto" href="https://www.altiereality.com/career">Careers</a> 
            <li><a class="nav-link scrollto" href="https://learnxr.altiereality.com/"> LearnXR™</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->


    <main id="main">
      <!-- ======= product Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="row gx-0">
            <div
              class="col-lg-6 d-flex flex-column justify-content-center"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="content">
                <h3>The Product</h3>
                <h2>
                  XRtouch: Enhancing Virtual and Augmented Reality Interaction.
                </h2>
                <p>
                  It is a hand held accessory, which coupled with a VR
                  Head mounted device,allows users to interact with and
                  navigate the virtual or augmented environment through buttons,
                  sensors, haptic feedback, and sometimes gesture recognition. 
                  The controllers are wireless, ergonomic, and tailored to specific
                   XR platforms, contributing to a more immersive and natural user experience.
                </p>
                
              </div>
            </div>

            <div
              class="col-lg-6 d-flex align-items-center"
              data-aos="zoom-out"
              data-aos-delay="200"
            >
              <img src="images\product.png" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </section>
      <!-- End Product Section -->

      <!-- ======= Values Section ======= -->
      <section id="values" class="values">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h2>Features</h2>
            <p>Features of XRtouch</p>
          </header>

          <div class="row">
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
              <div class="box">
                <img src="images\6doff.jpg" class="img-fluid" alt="" />
                <h3>6DoF</h3>
                <p>
                  6DoF enables an object's movement in six directions,
                  enhancing immersion in virtual reality through realistic and dynamic interactions.
                </p>
              </div>
            </div>

            <div
              class="col-lg-4 mt-4 mt-lg-0"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="box">
                <img src="images\gamingxr.jpg" class="img-fluid" alt="" />
                <h3>XR gaming platform</h3>
                <p>
                  The platform provides immersive 3D visualizations that take gaming to a whole new level.
                </p>
              </div>
            </div>

            <div
              class="col-lg-4 mt-4 mt-lg-0"
              data-aos="fade-up"
              data-aos-delay="600"
            >
              <div class="box">
                <img src="images\3dd.jpg" class="img-fluid" alt="" />
                <h3>Immersive 3D Visualisation</h3>
                <p>
                  It offer users a dynamic and spatial experience by integrating realistic visual elements 
                  into extended reality environments for enhanced engagement and understanding.
                </p>
              </div>
            </div>
            <div
              class="col-lg-4 mt-4 mt-lg-0"
              data-aos="fade-up"
              data-aos-delay="600"
            >
              <div class="box">
                <img
                  src="images\phn.jpg"
                  class="img-fluid"
                  alt=""
                />
                <h3>Works with smartphone</h3>
                <p>
                  The SenseXR Controller works with both Android and iOS devices. 
                  You simply need to connect your smartphone to the controller to start experiencing immersive technologies.

                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Values Section -->

      <!-- ============================  sptbi section ====================  -->

      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h2>Allocation Of Funds</h2>
          <p>SPTBI MUMBAI</p>
        </header>

      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="row gx-0">
            <div
              class="col-lg-6 d-flex flex-column justify-content-center"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="content">
                <p>
                  We are immensely grateful to <b>SPTBI Mumbai</b> for their generous grant under the <b>NIdhi Prayas</b>, an Initiative by the Department of Science and Technology, <b>Government of India</b> initiative, which has been instrumental in the development of our innovative product, the XRtouch hardware prototype.This tool is being designed to revolutionize the way users interact with virtual and augmented realities, offering an unprecedented level of immersion and intuitive control. Our heartfelt thanks go to <b>SPTBI Mumbai</b> for their invaluable support and belief in our vision, enabling us to bring this cutting-edge technology to the forefront of the AR industry.
                </p>
                
              </div>
            </div>

            <div
              class="col-lg-6 d-flex align-items-center"
              data-aos="zoom-out"
              data-aos-delay="200"
            >
              <img src="images\sptbilogo.png" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </section>


      <!-- ============================  sptbi section ====================  -->

      <!-- ======= Counts Section ======= -->
      <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">
          <div class="row gy-4">
            <div class="col-lg-3 col-md-6">
              <div class="count-box">
                <i class="bi bi-emoji-smile"></i>
                <div>
                  <span
                    data-purecounter-start="0"
                    data-purecounter-end="7"
                    data-purecounter-duration="1"
                    class="purecounter"
                  ></span>
                  <p>Happy Clients</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="count-box">
                <i class="bi bi-journal-richtext" style="color: #ee6c20"></i>
                <div>
                  <span
                    data-purecounter-start="0"
                    data-purecounter-end="13"
                    data-purecounter-duration="1"
                    class="purecounter"
                  ></span>
                  <p>Projects</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="count-box">
                <i class="bi bi-headset" style="color: #15be56"></i>
                <div>
                  <span
                    data-purecounter-start="0"
                    data-purecounter-end="600"
                    data-purecounter-duration="1"
                    class="purecounter"
                  ></span>
                  <p>Hours Of Support</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="count-box">
                <i class="bi bi-people" style="color: #bb0852"></i>
                <div>
                  <span
                    data-purecounter-start="0"
                    data-purecounter-end="8"
                    data-purecounter-duration="1"
                    class="purecounter"
                  ></span>
                  <p>Hard Workers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      

      <!-- ======= Features Section ======= -->
      <section id="features" class="features">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            
            <p>Use Case</p>
          </header>
          <script src="assets/tour.js"></script>
          <div class="row">
            <div class="col-lg-6">
               <img src="images\cases.webp" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
              <div class="row align-self-center gy-4">
                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Poductivity</h3>
                  </div>
                </div>

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Creativity</h3>
                  </div>
                </div>

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>3D Modelling</h3>
                  </div>
                </div>

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Education</h3>
                  </div>
                </div>

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Architecture</h3>
                  </div>
                </div>
                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Virtual Meetings</h3>
                  </div>
                </div>
                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Gaming</h3>
                  </div>
                </div>

            
                </div>
              </div>
            </div>
          </div>
          <!-- / row -->

        
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
     

      <div class="footer-top">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
              <a href="https://www.altiereality.com" class="logo d-flex align-items-center">
                <img src="assets/img/logo.png" alt="" />
                <span>Altie Reality</span>
              </a>
              <p>
                Altie Reality Private Limited is an AR/ VR software development
                firm offering AR/VR as a Service for Business, Marketing ,
                Education, Tourism and Entertainment Industry.
              </p>
              <div class="social-links mt-3">
                <a
                  href="https://www.youtube.com/channel/UCXhsQN9jsazg4FDoIuSseBg"
                  target="_blank"
                  class="twitter"
                ><i class="bi bi-youtube"></i></a>
                <a
                  href="https://www.facebook.com/altiereality"
                  target="_blank"
                  class="facebook"
                ><i class="bi bi-facebook"></i></a>
                <a
                  href="https://www.instagram.com/learn_xr"
                  target="_blank"
                  class="instagram"
                ><i class="bi bi-instagram"></i></a>
                <a
                  href="https://in.linkedin.com/company/altie-reality"
                  target="_blank"
                  class="linkedin"
                ><i class="bi bi-linkedin"></i></a>
              </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">Home</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">About us</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">Services</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">XRtouch</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">Industries We Serve</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">Terms of service</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">Privacy policy</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">360 VR Tour </a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">Digital Twin</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">LearnXR Lab for Schools</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">VR Marketing</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">Entertainment</a>
                </li>
              </ul>
            </div>

            <div
              class="col-lg-3 col-md-12 footer-contact text-center text-md-start"
            >
              <h4>Contact Us</h4>
              <p>
                41,42 Bhamashah Technohub
                <br />
                Sansthan Path,Jaipur
                <br />
                India
                <br /><br />
                <strong>Phone:</strong>
                +91 8619953434<br />
                <strong>Email:</strong>
                info.altiereality@gmail.com<br />
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright
          <strong><span>Altie Reality</span></strong>. All Rights Reserved
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
  </body>
</html>