<html lang="en">
  <head>  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1QVJFF7NCD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1QVJFF7NCD');
</script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-134442353-2"
    >
    </script>
    <script>
      window.dataLayer = window.dataLayer || []; function
      gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config',
      'UA-134442353-2');
    </script>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Altie Reality : A Metaverse Comapany</title>
    <meta content="" name="description" />

    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <a href="index.html" class="logo d-flex align-items-center">
          <img src="assets/img/logo.png" alt="" />
          <span>Altie Reality</span>
        </a>

        <nav id="navbar" class="navbar">
          <ul>
            
            <li><a class="nav-link scrollto" href="#about">Product</a></li>
            <li><a class="nav-link scrollto" href="#values">Features</a></li>
            <li><a class="active" href="blog.html">Timeline</a></li>
            <li class="dropdown"><a href="#"><span>Industries We Serve</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="automotive.html">Automotive</a></li>
                <li><a href="aerospace.html">Aerospace</a></li>
                <li><a href="industrial-machinery.html">Industrial-Machinery</a></li>
                <li><a href="education.html">Education</a></li>
                <li><a href="medical.html">Medical</a></li>
                <li><a href="architecture.html">Architecture</a></li>
                <li><a href="defence.html">Defence</a></li>
                <li><a href="gaming.html">Gaming</a></li>
              </ul>  
            <li><a class="nav-ling scrollto" href="https://www.innovate-labs.com/career">Careers</a> 
            <li><a class="nav-link scrollto" href="https://app. learnxr.altiereality.com/"> LearnXR™</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up">
              AR/VR Based Solutions for Business , Marketing and Enterprises.
            </h1>
            <h2 data-aos="fade-up" data-aos-delay="400">
              Redefining Reality with AR/VR/MR/XR.
            </h2>
            <div data-aos="fade-up" data-aos-delay="600">
              <div class="text-center text-lg-start">
                <a
                  href="#about"
                  class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center"
                >
                  <span>Get Started</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div
            class="col-lg-6 hero-img"
            data-aos="zoom-out"
            data-aos-delay="200"
          >
            <img src="assets/img/hero-img.gif" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="row gx-0">
            <div
              class="col-lg-6 d-flex flex-column justify-content-center"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="content">
                <h3>The Product</h3>
                <h2>
                  XRtouch: Enhancing Virtual and Augmented Reality Interaction.
                </h2>
                <p>
                  It is a hand held accessory, which coupled with a VR
                  Head mounted device,allows users to interact with and
                  navigate the virtual or augmented environment through buttons,
                  sensors, haptic feedback, and sometimes gesture recognition. 
                  The controllers are wireless, ergonomic, and tailored to specific
                   XR platforms, contributing to a more immersive and natural user experience.
                </p>
                <div class="text-center text-lg-start">
                  <a
                    href=""
                    class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center"
                  >
                    <span>Read More</span>
                    <i class="bi bi-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>

            <div
              class="col-lg-6 d-flex align-items-center"
              data-aos="zoom-out"
              data-aos-delay="200"
            >
              <img src="images\product.png" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </section>

      <!-- End About Section -->

      <!-- ======= Values Section ======= -->
      <section id="values" class="values">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h2>Features</h2>
            <p>Features of AR / VR Solutions.</p>
          </header>

          <div class="row">
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
              <div class="box">
                <img src="images\6DOF.jpg" class="img-fluid" alt="" />
                <h3>6DoF</h3>
                <p>
                  6DoF enables an object's movement in six directions,
                  enhancing immersion in virtual reality through realistic and dynamic interactions.
                </p>
              </div>
            </div>

            <div
              class="col-lg-4 mt-4 mt-lg-0"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="box">
                <img src="images\gaming.jpg" class="img-fluid" alt="" />
                <h3>XR gaming platform</h3>
                <p>
                  The platform provides immersive 3D visualizations that take gaming to a whole new level.
                </p>
              </div>
            </div>

            <div
              class="col-lg-4 mt-4 mt-lg-0"
              data-aos="fade-up"
              data-aos-delay="600"
            >
              <div class="box">
                <img src="images\3d.jpg" class="img-fluid" alt="" />
                <h3>Immersive 3D Visualisation</h3>
                <p>
                  It offer users a dynamic and spatial experience by integrating realistic visual elements 
                  into extended reality environments for enhanced engagement and understanding.
                </p>
              </div>
            </div>
            <div
              class="col-lg-4 mt-4 mt-lg-0"
              data-aos="fade-up"
              data-aos-delay="600"
            >
              <div class="box">
                <img
                  src="images\work with phones.webp"
                  class="img-fluid"
                  alt=""
                />
                <h3>Works with smartphone</h3>
                <p>
                  The SenseXR Controller works with both Android and iOS devices. 
                  You simply need to connect your smartphone to the controller to start experiencing immersive technologies.

                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Values Section -->

      <!-- ======= Counts Section ======= -->
      <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">
          <div class="row gy-4">
            <div class="col-lg-3 col-md-6">
              <div class="count-box">
                <i class="bi bi-emoji-smile"></i>
                <div>
                  <span
                    data-purecounter-start="0"
                    data-purecounter-end="7"
                    data-purecounter-duration="1"
                    class="purecounter"
                  ></span>
                  <p>Happy Clients</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="count-box">
                <i class="bi bi-journal-richtext" style="color: #ee6c20"></i>
                <div>
                  <span
                    data-purecounter-start="0"
                    data-purecounter-end="13"
                    data-purecounter-duration="1"
                    class="purecounter"
                  ></span>
                  <p>Projects</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="count-box">
                <i class="bi bi-headset" style="color: #15be56"></i>
                <div>
                  <span
                    data-purecounter-start="0"
                    data-purecounter-end="600"
                    data-purecounter-duration="1"
                    class="purecounter"
                  ></span>
                  <p>Hours Of Support</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="count-box">
                <i class="bi bi-people" style="color: #bb0852"></i>
                <div>
                  <span
                    data-purecounter-start="0"
                    data-purecounter-end="8"
                    data-purecounter-duration="1"
                    class="purecounter"
                  ></span>
                  <p>Hard Workers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Counts Section -->
      <section id="features" class="features">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            
            <p>Use Case</p>
          </header>
          <script src="assets/tour.js"></script>
          <div class="row">
            <div class="col-lg-6">
               <img src="images\mix.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
              <div class="row align-self-center gy-4">
                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Poductivity</h3>
                  </div>
                </div>

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Creativity</h3>
                  </div>
                </div>

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>3D Modelling</h3>
                  </div>
                </div>

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Education</h3>
                  </div>
                </div>

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Architecture</h3>
                  </div>
                </div>
                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Virtual Meetings</h3>
                  </div>
                </div>
                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Gaming</h3>
                  </div>
                </div>

            
                </div>
              </div>
            </div>
          </div>

      <!-- ======= Features Section ======= -->
      <section id="features" class="features">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h2>Features</h2>
            <p>Our Virtual Tours</p>
          </header>
          <script src="assets/tour.js"></script>
          <div class="row">
            <div class="col-lg-6">
               <img src="assets/img/features.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
              <div class="row align-self-center gy-4">
                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Self Hosted Content</h3>
                  </div>
                </div>

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Interactive Hotspots</h3>
                  </div>
                </div>

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>360 VR Live Streaming</h3>
                  </div>
                </div>

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Depth Map Support</h3>
                  </div>
                </div>

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Virtual Tour Builder</h3>
                  </div>
                </div>
                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Split Screen WebXR Viewers</h3>
                  </div>
                </div>
                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Thumbnail, Hotspot and Text based Tour Navigation
                      Options.</h3>
                  </div>
                </div>

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Custom JavaScript Widget Integration</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- / row -->

          <!-- Feature Tabs -->
          <div class="row feture-tabs" data-aos="fade-up">
            <div class="col-lg-6">
              <h3>Technical Specifications of our Web Apps</h3>

              <!-- Tabs -->
              <ul class="nav nav-pills mb-3">
                <li>
                  <a
                    class="nav-link active"
                    data-bs-toggle="pill"
                    href="#tab1"
                  >Front End</a>
                </li>
                <li>
                  <a class="nav-link" data-bs-toggle="pill" href="#tab2">Back
                    End
                  </a>
                </li>
              </ul>
              <!-- End Tabs -->

              <!-- Tab Content -->
              <div class="tab-content">
                <div class="tab-pane fade show active" id="tab1">
                  <p>
                    Our WebApps uses WebXR API based rendering of Virtual Tours.
                  </p>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>
                      The WebXR Device API implements the core of the WebXR
                      feature set, managing the selection of output devices,
                      render the 3D scene to the chosen device at the
                      appropriate frame rate, and manage motion vectors created
                      using input controllers
                    </h4>
                  </div>
                  <p>
                    Three.js is a 3D library that tries to make it as easy as
                    possible to get 3D content on a webpage
                  </p>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Modern libraries that brings websites to life.</h4>
                  </div>
                </div>
                <!-- End Tab 1 Content -->

                <div class="tab-pane fade show" id="tab2">
                  <p>
                    Node.js is a free, open-sourced, cross-platform JavaScript
                    run-time environment that lets developers write command line
                    tools and server-side scripts outside of a browser.
                  </p>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>
                      We also work PHP and Python to create custom backend on
                      demand.
                    </h4>
                  </div>
                  <p>
                    Three.js is a 3D library that tries to make it as easy as
                    possible to get 3D content on a webpage
                  </p>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4></h4>
                  </div>
                  <p></p>
                </div>
                <!-- End Tab 2 Content -->
              </div>
            </div>

            <div class="col-lg-6">
              <img src="assets/img/features-2.png" class="img-fluid" alt="" />
            </div>
          </div>
          <!-- End Feature Tabs -->

          <!-- Feature Icons -->
          <div class="row feature-icons" data-aos="fade-up">
            <h3>
              Our Mobile Apps converts a Mobile Phone into fully loaded VR
              device.
            </h3>

            <div class="row">
              <div
                class="col-xl-4 text-center"
                data-aos="fade-right"
                data-aos-delay="100"
              >
                <img
                  src="assets/img/features-3.gif"
                  class="img-fluid p-4"
                  alt=""
                />
              </div>

              <div class="col-xl-8 d-flex content">
                <div class="row align-self-center gy-4">
                  <div class="col-md-6 icon-box" data-aos="fade-up">
                    <i class="ri-line-chart-line"></i>
                    <div>
                      <h4>Google Analytics</h4>
                      <p>
                        Check performance of your VR tours by custom integration
                        with Google Analytics. Track location based usage of
                        your VR Tours.
                      </p>
                    </div>
                  </div>

                  <div
                    class="col-md-6 icon-box"
                    data-aos="fade-up"
                    data-aos-delay="100"
                  >
                    <i class="ri-stack-line"></i>
                    <div>
                      <h4>Flutter Fire Combination</h4>
                      <p>
                        We used Flutter - Firebase Combination to make your app
                        2 as a Backend service for our Apps.
                      </p>
                    </div>
                  </div>

                  <div
                    class="col-md-6 icon-box"
                    data-aos="fade-up"
                    data-aos-delay="400"
                  >
                    <i class="ri-command-line"></i>
                    <div>
                      <h4>Secure Data</h4>
                      <p>
                        Security, No Compromise with that. Our whole business
                        relies on this. All your data remains safe inside Google
                        Backed Servers.
                      </p>
                    </div>
                  </div>

                  <div
                    class="col-md-6 icon-box"
                    data-aos="fade-up"
                    data-aos-delay="500"
                  >
                    <i class="ri-radar-line"></i>
                    <div>
                      <h4>360 Live Streaming</h4>
                      <p>
                        Our dedicated team provide RTMP, RTMPS ,HLS based 360
                        live streaming inside your Apps.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Feature Icons -->
        </div>
      </section>
      <!-- End Features Section -->

      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h2>Portfolio</h2>
            <p>Check our latest work</p>
          </header>

          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-card">Card</li>
                <li data-filter=".filter-web">Web</li>
              </ul>
            </div>
          </div>

          <div
            class="row gy-4 portfolio-container"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-1.png"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>App 1</h4>
                  <p>App</p>
                  <div class="portfolio-links">
                    <a
                      href="assets/img/portfolio/portfolio-1.png"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      title="App 1"
                    ><i class="bi bi-plus"></i></a>
                    <a
                      href="https://play.google.com/store/apps/details?id=com.altiereality1.lexrn"
                      target="_blank"
                      title="More Details"
                    ><i class="bi bi-download"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-2.png"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>App 3</h4>
                  <p>App</p>
                  <div class="portfolio-links">
                    <a
                      href="assets/img/portfolio/portfolio-2.png"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      title="Web 3"
                    ><i class="bi bi-plus"></i></a>
                    <a
                      href="https://play.google.com/store/apps/details?id=com.altiereality.reliconnect"
                      target="_blank"
                      title="More Details"
                    ><i class="bi bi-download"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-3.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>App 2</h4>
                  <p>App</p>
                  <div class="portfolio-links">
                    <a
                      href="assets/img/portfolio/portfolio-3.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      title="App 2"
                    ><i class="bi bi-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i
                        class="bi bi-link"
                      ></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-4.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Card 2</h4>
                  <p>Card</p>
                  <div class="portfolio-links">
                    <a
                      href="assets/img/portfolio/portfolio-4.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      title="Card 2"
                    ><i class="bi bi-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i
                        class="bi bi-link"
                      ></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-5.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Web 2</h4>
                  <p>Web</p>
                  <div class="portfolio-links">
                    <a
                      href="assets/img/portfolio/portfolio-5.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      title="Web 2"
                    ><i class="bi bi-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i
                        class="bi bi-link"
                      ></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-6.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>App 3</h4>
                  <p>App</p>
                  <div class="portfolio-links">
                    <a
                      href="assets/img/portfolio/portfolio-6.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      title="App 3"
                    ><i class="bi bi-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i
                        class="bi bi-link"
                      ></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-7.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Card 1</h4>
                  <p>Card</p>
                  <div class="portfolio-links">
                    <a
                      href="assets/img/portfolio/portfolio-7.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      title="Card 1"
                    ><i class="bi bi-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i
                        class="bi bi-link"
                      ></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-8.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Card 3</h4>
                  <p>Card</p>
                  <div class="portfolio-links">
                    <a
                      href="assets/img/portfolio/portfolio-8.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      title="Card 3"
                    ><i class="bi bi-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i
                        class="bi bi-link"
                      ></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-9.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Web 3</h4>
                  <p>Web</p>
                  <div class="portfolio-links">
                    <a
                      href="assets/img/portfolio/portfolio-9.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      title="Web 3"
                    ><i class="bi bi-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i
                        class="bi bi-link"
                      ></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Portfolio Section -->

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h2>Testimonials</h2>
            <p>What they are saying about us</p>
          </header>

          <div
            class="testimonials-slider swiper"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"
                    ></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"
                    ></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    Altie Reality did some great work by assisting us with 360
                    VR creation. Loved the way they do it with such a ease.
                  </p>
                  <div class="profile mt-auto">
                    <img
                      src="assets/img/testimonials/testimonials-1.jpg"
                      class="testimonial-img"
                      alt=""
                    />
                    <h3>Rahul Sharma</h3>
                    <h4>CTO</h4>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"
                    ></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"
                    ></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    We needed a a way through which our business could get its
                    presance online. Since our products required online display
                    for getting sales, VR was the only way forward. Altie
                    Reality helped us achieve that.
                  </p>
                  <div class="profile mt-auto">
                    <img
                      src="assets/img/testimonials/testimonials-2.jpg"
                      class="testimonial-img"
                      alt=""
                    />
                    <h3>Nishant Gupta</h3>
                    <h4>Founder,Digital Walrus</h4>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"
                    ></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"
                    ></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    Our firm took assistance of Altie Reality to have our VR
                    based educational App built. The kids loved the app they
                    made.
                  </p>
                  <div class="profile mt-auto">
                    <img
                      src="assets/img/testimonials/testimonials-3.jpg"
                      class="testimonial-img"
                      alt=""
                    />
                    <h3>PK Mathur</h3>
                    <h4>Founder,pathshalaVR</h4>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"
                    ></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"
                    ></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    AR/VR are the way forward for any business to make impact
                    online. With Altie Reality to the rescue, your business will
                    find the right sell and scale.
                  </p>
                  <div class="profile mt-auto">
                    <img
                      src="assets/img/testimonials/testimonials-4.jpg"
                      class="testimonial-img"
                      alt=""
                    />
                    <h3>Deepak Dadhich</h3>
                    <h4>Freelancer</h4>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"
                    ></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"
                    ></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    I loved their educational app that my kid uses for learning.
                    Impressed by how technology is transforming the way of
                    learning.
                  </p>
                  <div class="profile mt-auto">
                    <img
                      src="assets/img/testimonials/testimonials-5.jpg"
                      class="testimonial-img"
                      alt=""
                    />
                    <h3>Jyotsana Purbia</h3>
                    <h4>Parent</h4>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- End Testimonials Section -->

      <!-- ======= Team Section ======= -->
      <section id="team" class="team">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h2>Team</h2>
            <p>Our Team</p>
          </header>

          <div class="row gy-4">
            <div
              class="col-lg-3 col-md-6 d-flex align-items-stretch"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="member">
                <div class="member-img">
                  <img
                    src="assets/img/team/Team-1.png"
                    class="img-fluid"
                    alt=""
                  />
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Gaurav Purbia</h4>
                  <span>Founder and CEO</span>
                  <p></p>
                </div>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6 d-flex align-items-stretch"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="member">
                <div class="member-img">
                  <img
                    src="assets/img/team/Team-2.png"
                    class="img-fluid"
                    alt=""
                  />
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Vijay Sharma</h4>
                  <span> C00 </span>
                  <p></p>
                </div>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6 d-flex align-items-stretch"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="member">
                <div class="member-img">
                  <img
                    src="assets/img/team/Team-3.png"
                    class="img-fluid"
                    alt=""
                  />
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Rahul Sharma</h4>
                  <span>CTO</span>
                  <p></p>
                </div>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6 d-flex align-items-stretch"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="member">
                <div class="member-img">
                  <img
                    src="assets/img/team/Team-4.png"
                    class="img-fluid"
                    alt=""
                  />
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Rajdeep Purbia</h4>
                  <span> CMO </span>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Team Section -->

      <!-- ======= Clients Section ======= -->
      <section id="clients" class="clients">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h2>In Association with</h2>
            <p></p>
          </header>

          <div class="clients-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide">
                <img
                  src="assets/img/clients/client-1.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="assets/img/clients/client-2.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="assets/img/clients/client-3.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="assets/img/clients/client-4.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="assets/img/clients/client-5.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- End Clients Section -->

      <!-- ======= Recent Blog Posts Section ======= -->

      <!-- End Recent Blog Posts Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h2>Contact</h2>
            <p>Contact Us</p>
          </header>

          <div class="row gy-4">
            <div class="col-lg-6">
              <div class="row gy-4">
                <div class="col-md-6">
                  <div class="info-box">
                    <a
                      href="https://goo.gl/maps/CRpJou4WZ4kqwcjFA"
                      target="_blank"
                      class="linkedin"
                    ><i class="bi bi-office"></i>
                      <i class="bi bi-geo-alt"></i></a>
                    <h3>Address</h3>
                    <p>
                      41,42 Bhamashah Technohub ,<br />Sansthan Path , Jaipur
                      302007
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <a
                      href="https://goo.gl/maps/CRpJou4WZ4kqwcjFA"
                      target="_blank"
                      class="linkedin"
                    >
                      <i class="bi bi-whatsapp"></i></a>
                    <h3>Whatsapp</h3>
                    <p>+91 8619953434 <br />+91 9145822691</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-envelope"></i>
                    <h3>Email Us</h3>
                    <p>
                      info.altiereality@gmail.com<br />admin@altiereality.com
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-clock"></i>
                    <h3>Open Hours</h3>
                    <p>Monday - Friday<br />9:00AM - 05:00PM</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <form
                action="forms/contact.php"
                method="post"
                class="php-email-form"
              >
                <div class="row gy-4">
                  <div class="col-md-6">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      placeholder="Your Name"
                      required
                    />
                  </div>

                  <div class="col-md-6">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      placeholder="Your Email"
                      required
                    />
                  </div>

                  <div class="col-md-12">
                    <input
                      type="text"
                      class="form-control"
                      name="subject"
                      placeholder="Subject"
                      required
                    />
                  </div>

                  <div class="col-md-12">
                    <textarea
                      class="form-control"
                      name="message"
                      rows="6"
                      placeholder="Message"
                      required
                    ></textarea>
                  </div>

                  <div class="col-md-12 text-center">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">
                      Your message has been sent. Thank you!
                    </div>

                    <button type="submit">Send Message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="footer-newsletter">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
              <h4>Our Newsletter</h4>
              <p>

              </p>
            </div>
            <div class="col-lg-6">
              <form action="" method="post">
                <input type="email" name="email" /><input
                  type="submit"
                  value="Subscribe"
                />
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-top">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
              <a href="index.html" class="logo d-flex align-items-center">
                <img src="assets/img/logo.png" alt="" />
                <span>Altie Reality</span>
              </a>
              <p>
                Altie Reality Private Limited is an AR/ VR software development
                firm offering AR/VR as a Service for Business, Marketing ,
                Education, Tourism and Entertainment Industry.
              </p>
              <div class="social-links mt-3">
                <a
                  href="https://www.youtube.com/channel/UCXhsQN9jsazg4FDoIuSseBg"
                  target="_blank"
                  class="twitter"
                ><i class="bi bi-youtube"></i></a>
                <a
                  href="https://www.facebook.com/altiereality"
                  target="_blank"
                  class="facebook"
                ><i class="bi bi-facebook"></i></a>
                <a
                  href="https://www.instagram.com/learn_xr"
                  target="_blank"
                  class="instagram"
                ><i class="bi bi-instagram"></i></a>
                <a
                  href="https://in.linkedin.com/company/altie-reality"
                  target="_blank"
                  class="linkedin"
                ><i class="bi bi-linkedin"></i></a>
              </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">Home</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">About us</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">Services</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">Terms of service</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">Privacy policy</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">360 VR Tour </a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">Digital Twin</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">LearnXR Lab for Schools</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">VR Marketing</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">Entertainment</a>
                </li>
              </ul>
            </div>

            <div
              class="col-lg-3 col-md-12 footer-contact text-center text-md-start"
            >
              <h4>Contact Us</h4>
              <p>
                41,42 Bhamashah Technohub
                <br />
                Sansthan Path,Jaipur
                <br />
                India
                <br /><br />
                <strong>Phone:</strong>
                +91 8619953434<br />
                <strong>Email:</strong>
                info.altiereality@gmail.com<br />
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright
          <strong><span>Altie Reality</span></strong>. All Rights Reserved
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
  </body>
</html>