<!DOCTYPE html>
<html lang –"en">
<head>  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1QVJFF7NCD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1QVJFF7NCD');
</script>
      
       <title>Automotive Industry</title>
    
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="robots" content="index, follow">
      <meta name="description" content="At Innovate Labs, we help automotive brands leverage augmented, virtual &amp; mixed reality from designing, manufacturing, engineering to consumer engagement.">
       <link rel="canonical" href="https://www.innovate-labs.com/industry/automotive">      <!-- Google Tag Manager -->
        <script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-QQV0B02HC9&amp;l=dataLayer&amp;cx=c"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-K6K3KBR"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-K6K3KBR');</script>
        <!-- End Google Tag Manager -->
      <link media="all" rel="icon" href="https://www.innovate-labs.com/images/favicol-icon.png" type="image/png">
      <link media="all" href="https://www.innovate-labs.com/css/bootstrap.min.css" rel="stylesheet">
      <link media="all" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script async="" src="https://www.innovate-labs.com/js/bootstrap.bundle.min.js"></script>  
      <script src="https://www.innovate-labs.com/js/jquery.min.js"></script><style type="text/css" id="operaUserStyle"></style>   
      <link media="all" rel="stylesheet" href="https://www.innovate-labs.com/css/owl.css">
      <link media="all" rel="stylesheet" href="https://www.innovate-labs.com/css/slick.css">
       <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
      <link media="all" href="https://www.innovate-labs.com/css/main.css" rel="stylesheet">
      <link media="all" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&amp;display=swap" rel="stylesheet">
      <!-- <link rel="stylesheet" href="css/style.css"> -->   
      <link media="all" href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <link media="all" rel="stylesheet" href="https://www.innovate-labs.com/css/style.css">
      
       <link media="all" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>   

      <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">



  <style>  

.industry-details-right {
    background-color: blueviolet;
    padding: 15px 20px;
    border-radius: 25px;
    
}

.industry-details {
    background-color: antiquewhite;
    padding: 60px 0px;
}

  .section-header {
    text-align: center;
    padding-bottom: 40px;
}
.section-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: white;
    border-radius: 11px;
    padding: 10px;
}
    /* Logo Slider */
    .logo-slider {
      /*background: white;
      -webkit-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
      box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);*/
      margin: auto;
      overflow: hidden;
      position: relative;
      width: 100%;
    }
    



    .logo-slider::after {
      right: 0;
      top: 0;
      -webkit-transform: rotateZ(220deg);
      transform: rotateZ(220deg);
    }
    
    .logo-slider::before {
      left: 0;
      top: 0;
    }
    
    .logo-slider .logo-slide-track {
      -webkit-animation: logo-scroll 60s linear infinite;
      animation: logo-scroll 60s linear infinite;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: calc(250px * 7);
      animation-duration: 50s;
      animation-iteration-count: infinite;
    }
    
    .logo-slider .slide {
      
      width: 250px;
      padding: 20px;
    }
    
    @-webkit-keyframes logo-scroll {
      0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    
      100% {
        -webkit-transform: translateX(calc(-200px * 6));
        transform: translateX(calc(-200px * 6));
      }
    }
    
    @keyframes logo-scroll {
      0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    
      100% {
        -webkit-transform: translateX(calc(-200px * 6));
        transform: translateX(calc(-200px * 6));
      }
    }
    
    .benift-box {
        background-color: #070141;
        width: 203px;
        border-radius: 25px;
        min-height: 280px;
        padding: 20px;
        padding-top: 45px;
    }
</style>
   <meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9"></head>
<body data-gautam-class="Automotive " data-aos-easing="ease" data-aos-duration="1200" data-aos-delay="0">
       <!-- Google Tag Manager (noscript) -->

        <header id="header" class="header fixed-top">
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <a href="https://www.altiereality.com" class="logo d-flex align-items-center">
          <img src="assets/img/logo.png" alt="" />
          <span>Altie Reality</span>
        </a>

        <nav id="navbar" class="navbar">
          <ul>
            
            <li><a href="https://www.altiereality.com/XRtouch">XRtouch </a></li>
            <li><a class="active" href="https://www.altiereality.com/blog">Timeline</a></li>
            <li class="dropdown"><a href="#"><span>Industries We Serve</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
               <li><a href="https://learnxr.altiereality.com">Education -  LearnXR™ </a></li><li><a href="https://metamatch.altiereality.com">MetaMatch </a></li>
                <li><a href="https://play.google.com/store/apps/details?id=com.altiereality.reliconnect">Religion - ReliconnectVR™</a></li>
                <li><a href="https://www.altiereality.com/medical">Medical</a></li>
                
   <li><a href="https://www.altiereality.com/architecture">Real Estate</a></li>
                <li><a href="https://www.altiereality.com/defence">Defence</a></li>
                <li><a href="https://www.altiereality.com/gaming">Gaming</a></li>
              </ul>  
            <li><a class="nav-ling scrollto" href="https://www.altiereality.com/career">Careers</a> 
            <li><a class="nav-link scrollto" href="https://learnxr.altiereality.com/"> LearnXR™</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          </ul>
          <!-- Dark Mode Toggle -->
          <div class="theme-toggle-wrapper" style="margin-left: 20px;">
            <button id="darkModeToggle" class="theme-toggle-btn" aria-label="Toggle dark mode">
              <i class="fas fa-moon"></i>
            </button>
          </div>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
  


<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K6K3KBR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light top-header ">
   <div class="container-fluid">
      <a class="navbar-brand" href="https://www.innovate-labs.com/">
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">      </button>    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </li>
      </a> 
        </li>
         </ul>
      </div>
    </div>
</nav>      
<section class="welcome-banner team-banner">
            <div class="col-md-12 ps-0 pe-0">
               <div class="industry-bnnr industry-bnnr-dt">
                    <img src="images\automotive 2.webp">
               </div>
            </div>
         </div>
      </section>

       <div class="slick-list draggable" style="padding: 0px 50px;"><div class="slick-track" style="opacity: 1; width: 138px; transform: translate3d(-54px, 0px, 0px); transition: transform 5000ms linear 0s;"><div class="slick-slide slick-cloned" style="width: 6px;" data-slick-index="-3" id="" aria-hidden="true" tabindex="-1">VR Gaming </div><div class="slick-slide slick-cloned" style="width: 6px;" data-slick-index="-2" id="" aria-hidden="true" tabindex="-1">Immersive Reality </div><div class="slick-slide slick-cloned" style="width: 6px;" data-slick-index="-1" id="" aria-hidden="true" tabindex="-1">Virtual Reality </div><div class="slick-slide" style="width: 6px;" data-slick-index="0" aria-hidden="true" tabindex="-1">Extended Reality </div><div class="slick-slide" style="width: 6px;" data-slick-index="1" aria-hidden="true" tabindex="-1">Mixed reality  </div><div class="slick-slide" style="width: 6px;" data-slick-index="2" aria-hidden="true" tabindex="-1">IoT </div><div class="slick-slide" style="width: 6px;" data-slick-index="3" aria-hidden="true" tabindex="-1">Augmented Reality </div><div class="slick-slide" style="width: 6px;" data-slick-index="4" aria-hidden="true" tabindex="-1">Metaverse </div><div class="slick-slide" style="width: 6px;" data-slick-index="5" aria-hidden="true" tabindex="-1">Web 3.0 </div><div class="slick-slide" style="width: 6px;" data-slick-index="6" aria-hidden="true" tabindex="0">Digital Twins </div><div class="slick-slide slick-current slick-active slick-center" style="width: 6px;" data-slick-index="7" aria-hidden="false" tabindex="0">VR Gaming </div><div class="slick-slide slick-active" style="width: 6px;" data-slick-index="8" aria-hidden="false" tabindex="-1">Immersive Reality </div><div class="slick-slide" style="width: 6px;" data-slick-index="9" aria-hidden="true" tabindex="-1">Virtual Reality </div><div class="slick-slide slick-cloned" style="width: 6px;" data-slick-index="10" id="" aria-hidden="true" tabindex="-1">Extended Reality </div><div class="slick-slide slick-cloned" style="width: 6px;" data-slick-index="11" id="" aria-hidden="true" tabindex="-1">Mixed reality  </div><div class="slick-slide slick-cloned" style="width: 6px;" data-slick-index="12" id="" aria-hidden="true" tabindex="-1">IoT </div><div class="slick-slide slick-cloned" style="width: 6px;" data-slick-index="13" id="" aria-hidden="true" tabindex="-1">Augmented Reality </div><div class="slick-slide slick-cloned" style="width: 6px;" data-slick-index="14" id="" aria-hidden="true" tabindex="-1">Metaverse </div><div class="slick-slide slick-cloned" style="width: 6px;" data-slick-index="15" id="" aria-hidden="true" tabindex="-1">Web 3.0 </div><div class="slick-slide slick-cloned" style="width: 6px;" data-slick-index="16" id="" aria-hidden="true" tabindex="-1">Digital Twins </div><div class="slick-slide slick-cloned" style="width: 6px;" data-slick-index="17" id="" aria-hidden="true" tabindex="-1">VR Gaming </div><div class="slick-slide slick-cloned" style="width: 6px;" data-slick-index="18" id="" aria-hidden="true" tabindex="-1">Immersive Reality </div><div class="slick-slide slick-cloned" style="width: 6px;" data-slick-index="19" id="" aria-hidden="true" tabindex="-1">Virtual Reality </div></div></div></section>
         </div>
      </div>
<div class="slick-track" style="opacity: 1; width: 2904px; transform: translate3d(-1331px, 0px, 0px); transition: transform 5000ms linear 0s;"><div class="slick-slide slick-cloned" style="width: 121px;" tabindex="-1" data-slick-index="-4" id="" aria-hidden="true">Digital Twins </div><div class="slick-slide slick-cloned" style="width: 121px;" tabindex="-1" data-slick-index="-3" id="" aria-hidden="true">VR Gaming </div><div class="slick-slide slick-cloned" style="width: 121px;" tabindex="-1" data-slick-index="-2" id="" aria-hidden="true">Immersive Reality </div><div class="slick-slide slick-cloned" style="width: 121px;" tabindex="-1" data-slick-index="-1" id="" aria-hidden="true">Virtual Reality </div><div class="slick-slide" style="width: 121px;" tabindex="-1" data-slick-index="0" aria-hidden="true">Extended Reality </div><div class="slick-slide" style="width: 121px;" tabindex="-1" data-slick-index="1" aria-hidden="true">Mixed reality  </div><div class="slick-slide" style="width: 121px;" tabindex="-1" data-slick-index="2" aria-hidden="true">IoT </div><div class="slick-slide" style="width: 121px;" tabindex="-1" data-slick-index="3" aria-hidden="true">Augmented Reality </div><div class="slick-slide" style="width: 121px;" tabindex="-1" data-slick-index="4" aria-hidden="true">Metaverse </div><div class="slick-slide" style="width: 121px;" tabindex="-1" data-slick-index="5" aria-hidden="true">Web 3.0 </div><div class="slick-slide" style="width: 121px;" tabindex="-1" data-slick-index="6" aria-hidden="true">Digital Twins </div><div class="slick-slide slick-active" style="width: 121px;" tabindex="0" data-slick-index="7" aria-hidden="false">VR Gaming </div><div class="slick-slide slick-current slick-active slick-center" style="width: 121px;" tabindex="0" data-slick-index="8" aria-hidden="false">Immersive Reality </div><div class="slick-slide slick-active" style="width: 121px;" tabindex="0" data-slick-index="9" aria-hidden="false">Virtual Reality </div><div class="slick-slide slick-cloned" style="width: 121px;" tabindex="-1" data-slick-index="10" id="" aria-hidden="true">Extended Reality </div><div class="slick-slide slick-cloned" style="width: 121px;" tabindex="-1" data-slick-index="11" id="" aria-hidden="true">Mixed reality  </div><div class="slick-slide slick-cloned" style="width: 121px;" tabindex="-1" data-slick-index="12" id="" aria-hidden="true">IoT </div><div class="slick-slide slick-cloned" style="width: 121px;" tabindex="-1" data-slick-index="13" id="" aria-hidden="true">Augmented Reality </div><div class="slick-slide slick-cloned" style="width: 121px;" tabindex="-1" data-slick-index="14" id="" aria-hidden="true">Metaverse </div><div class="slick-slide slick-cloned" style="width: 121px;" tabindex="-1" data-slick-index="15" id="" aria-hidden="true">Web 3.0 </div><div class="slick-slide slick-cloned" style="width: 121px;" tabindex="-1" data-slick-index="16" id="" aria-hidden="true">Digital Twins </div><div class="slick-slide slick-cloned" style="width: 121px;" tabindex="-1" data-slick-index="17" id="" aria-hidden="true">VR Gaming </div><div class="slick-slide slick-cloned" style="width: 121px;" tabindex="-1" data-slick-index="18" id="" aria-hidden="true">Immersive Reality </div><div class="slick-slide slick-cloned" style="width: 121px;" tabindex="-1" data-slick-index="19" id="" aria-hidden="true">Virtual Reality </div></div>
      <section class="industry-details">
         <div class="container">
            <div class="row">
               <div class="col-md-8 pe-5">
                  <div class="industry-details-left">
                     <h1>Metaverse Solution Company for Automotive Industry</h1>
                     <p>Altie Reality stands as a pioneering force in reshaping the automotive industry through cutting-edge metaverse solutions. Our virtual showrooms redefine the car-buying experience, allowing customers to explore models from anywhere. Digital prototyping accelerates innovation, bringing designs to life in a collaborative virtual environment. Immersive training simulations empower the workforce with hands-on experiences, while virtual test drives and experiential marketing redefine customer engagement. With expertise at the intersection of automotive and metaverse technologies, [Company Name] offers customized solutions, future-proofing businesses and positioning them as pioneers in the evolving automotive landscape. Join us in driving innovation and excellence in the metaverse and beyond.</p><p>Together, let's shape the future of automotive interactions, where the metaverse seamlessly integrates with the physical world, creating unparalleled experiences for your brand and customers alike. Contact us today and explore the possibilities of a digitally driven automotive future.</p>				
                  </div>
               </div>
               <div class="col-md-4 ps-4">
                  <div class="industry-details-right">
                     <h4>MR use cases</h4>
                     <ul>
                                                <li>
                           <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                           <p>Remote exploration of car models</p>
                        </li>
                                                <li>
                           <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                           <p>Showcase customization options</p>
                        </li>
                                                <li>
                           <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                           <p>Thrilling virtual test drive experiences</p>
                        </li>
                                                <li>
                           <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                           <p>Experiential marketing campaigns in the metaverse</p>
                        </li>
                                                <li>
                           <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                           <p>Reduce downtime with remote guidance</p>
                        </li>
                                                <li>
                           <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                           <p>Visualize and optimize component movement</p>
                        </li>
                                                <li>
                           <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                           <p>Improve transparency and efficiency</p>
                        </li>
                                                <li>
                           <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                           <p>Real-time AR navigation for drivers</p>
                        </li>
                                                <li>
                           <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                           <p>Overlay relevant information on the driver's view</p>
                        </li>
                                                <li>
                           <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                           <p>AR /IoT based production plant visualization</p>
                        </li>
                        					
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>
     <section class="secs-indsty">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12 ps-0 pe-0">
                    <img src="images\automotive.jpg">
              </div>
            </div>
         </div>
      </section>
      




<!--===================================================-->
<section id="testimonials" class="testimonials">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      
      <h1>Benefits of MR in Automotive</h1>
    </header>

    <div
      class="testimonials-slider swiper"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="stars">
              <i class="bi bi-star-fill"></i><i
                class="bi bi-star-fill"
              ></i><i class="bi bi-star-fill"></i><i
                class="bi bi-star-fill"
              ></i><i class="bi bi-star-fill"></i>
            </div>
            <p>
              Automotive designers can use MR to visualize and interact with 3D models of vehicles during the design and prototyping phases. This allows for a more immersive and accurate assessment of the design, streamlining the development process.
               <div class="profile mt-auto">
              <img
                src="images\10.webp"
                class="testimonial-img"
                alt=""
              />
            </div>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="stars">
              <i class="bi bi-star-fill"></i><i
                class="bi bi-star-fill"
              ></i><i class="bi bi-star-fill"></i><i
                class="bi bi-star-fill"
              ></i><i class="bi bi-star-fill"></i>
            </div>
            <p> MR enables engineers to conduct virtual prototyping and testing of automotive components and systems. This helps in identifying potential issues early in the design phase, reducing the need for physical prototypes and saving both time and resources.

              <div class="profile mt-auto">
              <img
                src="images\11.png"
                class="testimonial-img"
                alt=""
              />
              
            </div>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="stars">
              <i class="bi bi-star-fill"></i><i
                class="bi bi-star-fill"
              ></i><i class="bi bi-star-fill"></i><i
                class="bi bi-star-fill"
              ></i><i class="bi bi-star-fill"></i>
            </div>
            <p>MR can be used for training automotive technicians in vehicle maintenance and repair. Technicians can access virtual overlays of vehicle components, providing step-by-step guidance for repairs and diagnostics. This helps in improving efficiency and reducing errors.

              <img
                src="images\12.jpg"
                class="testimonial-img"
                alt=""
              />
            </div>
          </div>
        </div>
        <!-- End testimonial item -->

        </div>
        <!-- End testimonial item -->
        </div>
        <!-- End testimonial item -->
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- End Testimonials Section -->


<a
href="#"
class="back-to-top d-flex align-items-center justify-content-center"
><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/purecounter/purecounter.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script>
  // Dark mode toggle functionality
  document.addEventListener('DOMContentLoaded', function() {
    const darkModeToggle = document.getElementById('darkModeToggle');
    const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)');
    // Check for saved theme preference or use system preference
    const currentTheme = localStorage.getItem('theme') || 
      (prefersDarkScheme.matches ? 'dark' : 'light');
    // Apply theme on load
    if (currentTheme === 'dark') {
      document.documentElement.classList.add('dark-theme');
      document.body.classList.add('dark-theme');
      darkModeToggle.querySelector('i').classList.remove('fa-moon');
      darkModeToggle.querySelector('i').classList.add('fa-sun');
    }
    // Toggle theme
    darkModeToggle.addEventListener('click', () => {
      if (document.body.classList.contains('dark-theme')) {
        document.documentElement.classList.remove('dark-theme');
        document.body.classList.remove('dark-theme');
        localStorage.setItem('theme', 'light');
        darkModeToggle.querySelector('i').classList.remove('fa-sun');
        darkModeToggle.querySelector('i').classList.add('fa-moon');
      } else {
        document.documentElement.classList.add('dark-theme');
        document.body.classList.add('dark-theme');
        localStorage.setItem('theme', 'dark');
        darkModeToggle.querySelector('i').classList.remove('fa-moon');
        darkModeToggle.querySelector('i').classList.add('fa-sun');
      }
    });
  });
</script>
</body>
</html>