<!DOCTYPE html>
<html lang="en">
<head>  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1QVJFF7NCD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1QVJFF7NCD');
</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/resetpassword static/newpassword.css">
</head>
<body>
    <div class="forgotpasswordcont">
          {{#if sahiyagalat}}
        <div class="alert alert-{{errortype}} alert-dismissible fade show" role="alert">
            <strong>{{msgtype}}</strong> {{errormsg}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{/if}}
        <div class="forgot">
            <h2>Reset Password</h2>
            <form action="/newpassword/{{resetpasswordtoken}}" method="POST">
            <label for="newpassword" id="label1">Enter New Password</label>
            <input type="password" placeholder="New Password" name="password" id="newpassword">
            <label for="confirmnewpassword" id="label2">Re-Enter Password</label>
            <input type="password" placeholder="Re-Enter Password" name="confirmpassword" id="confirmnewpassword">
       
           </a><button class="btn btn-primary">Reset</button>
           </form>
        </div>
    </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</html>