<html>
  <head>  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1QVJFF7NCD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1QVJFF7NCD');
</script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Privacy Policy</title>
    <style>
      body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      padding:1em; }
    </style>
  </head>
  <body>
    <strong>Privacy Policy for Reliconnect App : By Altie Reality Private
      Limited</strong>
    <p>
      We (Altie Reality Pvt. Ltd., or "Reliconnect App") recognise that your
      privacy is very important and take it seriously. Altie Reality Private
      Limited built the Reliconnect app as a Free app.By using this Platform,
      you agree to the terms and conditions of this Privacy & Cookie Policy. You
      also consent to our use and disclosure of your Personal Information (as
      defined below) in the manner described in this Privacy Policy. If you do
      not agree with the terms and conditions of this privacy policy, please do
      not use this platform. This service is provided by Altie Reality Private
      Limited at no cost and is intended for use as is.
    </p>
    <p>

      <p>
        THE INFORMATION WE COLLECT AND HOW WE USE IT: Login Data User’s Name,
        Phone Number/ Email, Password/ OTP, Profile Photo and IP address.
        (collectively, "Log-in Data"). Additional Account Information & Security
        Alongside the Log-in Data, we also collect your Gender, Date of Birth,
        Address and the biography provided by you on your user profile. We
        collect your phone number and request access to the SMSes on your phone
        by sending you a One-Time-Password ("OTP"), which you confirm by
        entering the OTP to confirm your identity, while registering with our
        Platform. Content You Share on The Platform This includes all of the
        information you make available to other Platform users, such as: Any
        information about you or relating to you that you voluntarily share on
        the Platform, including, but not limited to, any quotes, images,
        political opinions, religious beliefs, and so on. Any posts, comments
        you create on the Platform (which include your public profile and photos
        and videos captured with your device's camera), any postings you re-post
        from others, and any Location Data and Log Data associated with such
        posts on this site. This also includes any information about you
        (including Location Data and Log Data) that other Platform users share
        about you or any communications they send to you. We obtain information
        from other sources. We may also collaborate with third parties (such as
        business partners, technical subcontractors, analytics providers, and
        search information providers) and obtain information about you from
        them. Such data could be shared internally and combined with data
        collected on this Platform.
      </p>

      <p>
        Log Data "Log Data" is information that we automatically collect when
        you use the Platform, whether through the use of cookies, log files,
        scripts, including, but not limited to: technical data, such as your
        mobile carrier -related information, configuration information provided
        by your web browser or other programmes used to access the Platform,
        your IP address, and the version and identification number of your
        device; information about what you searched for and looked at while
        using the Platform, such as web search terms used, social media profiles
        visited, mini applications used, and details of other information and
        content accessed or requested by you while using the Platform; - general
        information about communications on the platform, such as the identity
        of a user with whom you communicated and the time, data, and duration of
        your communications; and metadata, which means information related to
        items you have made available through the Platform, such as the date,
        time or location that a shared photograph or video was taken or posted.
      </p>

      <p>
        Cookies Our Platform uses cookies to distinguish you from other users of
        our Platform. This helps us to provide you with a good user experience
        when you browse our Platform and also allows us to improve the Platform.
        We collect the cookie data from the cookies on your device.
      </p>

      <p>
        Events & Surveys If you choose to participate in an event or survey, we
        may request you to provide certain Personal Information i.e. any
        information that could be used to identify you ("Personal Information").
        We may use a third-party service provider to conduct these surveys and
        this will be notified to you prior to you completing the survey.
      </p>

      <p>
        List of Contacts We gain access to your mobile device's contacts list.
        We always ask for your permission before accessing your contacts list,
        and you have the option to deny us access.
      </p>

      <p>
        Location Information The term "Location Information" refers to
        information derived from your GPS, IP address, and/or public posts
        containing location information. You can provide us and other Platform
        users with the following location information when you use certain
        location-based features on the Platform, such as entering your Prasad
        Delivery Address or any other feature that we may introduce on our
        Platform from time to time, and when you share your location with other
        Users; and - when you access the Platform, as we derive location
        information from your IP address, device, or internet service to prevent
        multiple or fraudulent log-ins to your account.
      </p>

      <p>
        Customer Support Information Any information that you provide to our
        customer support team regarding any assistance or support that you may
        require for using our Platform from time to time.
      </p>

      <p>
        Device Data "Device Data" includes without limitation, the following:
      </p>

      <p>
        Device attributes: information such as the operating system, hardware
        and software versions, battery level, signal strength, available storage
        space, browser type, app and file names and types, and plugins.
        Identifiers: unique identifiers, device IDs, and other identifiers, such
        as from games, apps or accounts you use. Network and connections:
        details such as your mobile operator's or ISP's name, language, time
        zone, phone number, IP address, and connection speed. Device signals: We
        may collect your Bluetooth signals, and information about nearby Wi-Fi
        access points, beacons, and cell towers. Device operations: information
        about operations and behaviours performed on the device, such as whether
        a window is foregrounded or backgrounded. Data from device settings:
        information you grant us access to via device settings, such as access
        to your GPS location, camera, or photos. Event Information. Any
        information that you provide like your Family Members’ Name, Gotra,
        Wishes etc to us in submitting an entry to any Event which may be
        offered on the Platform from time to time. Media: We gain access to your
        mobile device's media gallery, which includes, but is not limited to,
        images, videos, as well as the storage space on your phone. We will,
        however, always obtain your permission before accessing your images, and
        you will have the option to refuse such access.

      </p>
      <p>
        How Will We Use the Data?

      </p>

      <p>
        To create and facilitate access to a Platform user account; To keep you
        up to date on changes to the Platform, including this Privacy Policy; To
        facilitate communication by providing user support; To enforce our
        terms, conditions, and policies, as well as any of our rights or the
        rights of our affiliate companies or other Platform users; - To develop
        new features, improve existing features, and integrate user feedback and
        requests; To provide linguistic and location-based personalization in
        the long run; - To regulate the Platform and for business controls such
        as troubleshooting, data analysis, testing, research, security, fraud
        detection, account management, and survey purposes; - To understand
        better how you use as well as access the Platform and to enhance the
        user experience on the Platform; To pseudonymise and aggregate your
        information, including Personal Information, in order to conduct user
        data analysis on items such as region, phone model, operating system
        platform, system language, and System version to help comprehend how our
        users use Platform. To pseudonymise and aggregate your information,
        including Personal Information, for the purposes of collecting web and
        account traffic statistics on what content and services are used when
        users access third-party services on the Platform; - To evaluate and
        improve the effectiveness of advertising and other marketing and
        promotional activities. To verify your identity and keep your account
        secure. To connect you with other Platform users - For security, fraud
        detection, and account management (such as ensuring that your account
        does not have multiple log-ins or suspicious log-ins); To offer you
        location-based services that you choose to use: To look into your
        support issue. To facilitate the sharing of any media such as videos and
        images via the Platform; To tailor our Platform to your mobile device;
        Determine whether you have enough storage space on your device to
        download any content from the Platform for the purposes of sharing via
        WhatsApp and/or Facebook; To optimise your user experience on our
        Platform; To facilitate the sharing of any content on the Platform via
        the applications downloaded on your mobile device; To verify your
        identity so as to enforce our terms, conditions, and policies; To
        facilitate your participation in the Events; To award prizes, if
        applicable.
      </p>
      This page is used to inform visitors regarding our policies with the
      collection, use, and disclosure of Personal Information if anyone decided
      to use our Service.
    </p>
    <p>
      If you choose to use our Service, then you agree to the collection and use
      of information in relation to this policy. The Personal Information that
      we collect is used for providing and improving the Service. We will not
      use or share your information with anyone except as described in this
      Privacy Policy.
    </p>
    <p>
      The terms used in this Privacy Policy have the same meanings as in our
      Terms and Conditions, which is accessible at Reliconnect unless otherwise
      defined in this Privacy Policy.
    </p>
    <p><strong>Information Collection and Use</strong></p>
    <p>
      For a better experience, while using our Service, we may require you to
      provide us with certain personally identifiable information. The
      information that we request will be retained by us and used as described
      in this privacy policy.
    </p>
    <div><p>
        The app does use third party services that may collect information used
        to identify you.
      </p>
      <p>
        Link to privacy policy of third party service providers used by the app
      </p>
      <ul><li><a
            href="https://www.google.com/policies/privacy/"
            target="_blank"
            rel="noopener noreferrer"
          >Google Play Services</a></li><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----></ul></div>
    <p><strong>Log Data</strong></p>
    <p>
      We want to inform you that whenever you use our Service, in a case of an
      error in the app we collect data and information (through third party
      products) on your phone called Log Data. This Log Data may include
      information such as your device Internet Protocol (“IP”) address, device
      name, operating system version, the configuration of the app when
      utilizing our Service, the time and date of your use of the Service, and
      other statistics.
    </p>
    <p><strong>Cookies</strong></p>
    <p>
      Cookies are files with a small amount of data that are commonly used as
      anonymous unique identifiers. These are sent to your browser from the
      websites that you visit and are stored on your device's internal memory.
    </p>
    <p>
      This Service does not use these “cookies” explicitly. However, the app may
      use third party code and libraries that use “cookies” to collect
      information and improve their services. You have the option to either
      accept or refuse these cookies and know when a cookie is being sent to
      your device. If you choose to refuse our cookies, you may not be able to
      use some portions of this Service.
    </p>
    <p><strong>Service Providers</strong></p>
    <p>
      We may employ third-party companies and individuals due to the following
      reasons:
    </p>
    <ul><li>To facilitate our Service;</li>
      <li>To provide the Service on our behalf;</li>
      <li>To perform Service-related services; or</li>
      <li>To assist us in analyzing how our Service is used.</li></ul>
    <p>
      We want to inform users of this Service that these third parties have
      access to your Personal Information. The reason is to perform the tasks
      assigned to them on our behalf. However, they are obligated not to
      disclose or use the information for any other purpose.
    </p>
    <p><strong>Security</strong></p>
    <p>
      We value your trust in providing us your Personal Information, thus we are
      striving to use commercially acceptable means of protecting it. But
      remember that no method of transmission over the internet, or method of
      electronic storage is 100% secure and reliable, and we cannot guarantee
      its absolute security.
    </p>
    <p><strong>Links to Other Sites</strong></p>
    <p>
      This Service may contain links to other sites. If you click on a
      third-party link, you will be directed to that site. Note that these
      external sites are not operated by us. Therefore, we strongly advise you
      to review the Privacy Policy of these websites. We have no control over
      and assume no responsibility for the content, privacy policies, or
      practices of any third-party sites or services.
    </p>
    <p><strong>Children’s Privacy</strong></p>
    <p>
      These Services do not address anyone under the age of 13. We do not
      knowingly collect personally identifiable information from children under
      13 years of age. In the case we discover that a child under 13 has
      provided us with personal information, we immediately delete this from our
      servers. If you are a parent or guardian and you are aware that your child
      has provided us with personal information, please contact us so that we
      will be able to do necessary actions.
    </p>
    <p><strong>Changes to This Privacy Policy</strong></p>
    <p>
      We may update our Privacy Policy from time to time. Thus, you are advised
      to review this page periodically for any changes. We will notify you of
      any changes by posting the new Privacy Policy on this page.
    </p>
    <p>This policy is effective as of 2023-1-1</p>
    <p><strong>Contact Us</strong></p>
    <p>
      If you have any questions or suggestions about our Privacy Policy, do not
      hesitate to contact us at info.altiereality@gmail.com.
    </p>
  </body>
</html>